[ req ]
default_bits = 2048
prompt = no
encrypt_key = no
default_md = sha256
distinguished_name = dn
utf8 = yes
req_extensions = v3_req

[ v3_req ]
subjectAltName = @alt_names

[ dn ]
C = NO
O = UH-IaaS
CN = *.api.local1.iaas.intern

[alt_names]
DNS.1 = api.local1.iaas.intern
DNS.2 = api.bgo.uh-iaas.no

